<!DOCTYPE HTML>
<html>
	<head>
		<title>CarNow</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="View/templates/assets/js/ie/html5shiv.js"></script><![endif]-->
		<!-- <link type="text/css" rel="stylesheet" href="View/static/css/map.css" /> -->
        <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='static/css/map.css') }}" /> -->
		<!--[if lte IE 9]><link rel="stylesheet" href="View/templates/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="View/templates/assets/css/ie8.css" /><![endif]-->
        <style>
            #map {
                background: url("View/static/images/spots/spot_0.jpg") no-repeat center center fixed;
                background-size: cover;
                background-position: 0px -190px;
            }
        </style>
	</head>
	<body id="map">
    </body>
</html>
