<!-- <!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>This is a Heading</h1>
<form name="search" action="/cgi-bin/database.py" method="get">
<input type="text" id="searchbox" name = "searchbox" onkeyup="myFunction()" placeholder="CAR_ID">
<input type="submit" value = "Submit">
<!Search: <input type="text" name="searchbox">
</form>

<!-% if result %}
    You entered: {{ result }}
{% endif %}
<form method="POST" action=".">
   <input id="post_form_id" name="searchbox" value="" />
   <input type="submit">
</form>-->
<!-- </body>
</html> --> -->
